* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.lead {
  font-size: 1.5rem;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
 
  /* Scroll Snap */
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
}

/*Front Page Container*/
.frontBody{
    background-color: #f9f9f929;
    border-radius: 15px;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}
    .front_text{
        display: inline-block;
        padding: 1rem 1rem;
        vertical-align: middle;
    }
    .front_img{
        display: inline-block;
        padding: 1rem 1rem;
        vertical-align: middle;
    }

    .front_img img{
      max-width: 600px;
        width: 100%;
        height: auto;
    }

.newBody{
  text-align: center;
}
.movieBody{
  text-align: center;
}
.adBody{
  text-align: center;
}
  /*Container for the movie details*/
.box{
  background-color: #f9f9f929;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}

.contactBody{
  text-align: center;
  }
  
  /* Add styles to the form container */
  .container {
  margin: 50px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.363);
  }
  
  /* Full-width input fields */
  input[type=text], input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: rgba(255, 255, 255, 0.464);
  }
  
  input[type=text]:focus, input[type=number]:focus {
  background-color: rgba(255, 255, 255, 0.464);
  outline: none;
  }
  
  .contactBody input:focus{
    background: lightgrey;
  }
  